* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --escala: 1.2;
    --transition: 0.5s;
    --stroke: blue;
}

body {
    max-width: 1024px;
    margin: auto;
    padding: 10px;
}

html {
    scroll-behavior:smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .logo {
        width: 100px;
        height: 100px;
    }

    & nav {
        display: flex;
        gap: 16px;
        height: 100px;
        justify-content: center;
        align-items: center;
    }

    & nav a {
        border: 2px solid black;
        padding: 10px;
        border-radius: 40px;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    & nav a:hover {
        transition: 0.5s;
        background-color: rgb(0, 0, 0);
        color: white;
    }
}

article{
    margin-bottom: 20px;
    @media (min-width: 600px) and (max-width: 2800px){
        display: flex;
        gap: 16px;
        margin-bottom: 20px;
    }
    @media (min-width: 600px) and (max-width: 1000px){
        & .capsula{
            max-width: 450px;
        }
        }
        @media (min-width: 1001px) and (max-width: 2000px){
            & .capsula{
                max-width: 800px;
            }
            }
    }

  

.descripcion {
    padding: 0px 10px;
    max-width: 700px;

    &.descripcion h3 {
        font-weight: lighter;
        margin-bottom: 10px;
        @media (min-width: 951px) and (max-width: 2000px){
            font-size: 1.5rem;
        }
    }

    &.descripcion h1 {
        font-size: 1.3rem;
        @media (min-width: 425px) and (max-width: 767px){
            font-size: 1.6rem;
        }
        @media (min-width: 768px) and (max-width: 1023px){
            font-size: 1.8rem;
        }
        @media (min-width: 1024px) and (max-width: 3000px){
            font-size: 2.3rem;
        }
    }
}

h1 {
    white-space: nowrap;
    overflow: hidden;
    width: 26ch;
    animation: typing 2.5s steps(26) 1 forwards, blink .5s infinite step-end alternate;
    border-right: 3px solid blue;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.degradado {
    background: linear-gradient(rgb(72, 0, 105), rgb(0, 17, 255));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.descripcion-texto {
    padding: 10px 10px;
    max-width: 500px;
    &.descripcion-texto p {
        margin-top: 10px;
    }
}

/*Iconos Sociales*/

.contacto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 10px 20px 10px;
    max-width: 500px;
}

.github-icon,
.linkedin-icon {
    width: 40px;
    height: 40px;
    transition: stroke 0.5s ease-out;
    stroke: black;
    cursor: pointer;
}

/*Iconos Sociales Hover*/

.github-icon:hover,
.linkedin-icon:hover,
.icon-tabler-download:hover,
.icon-tabler-mail:hover {
    stroke: var(--stroke);
    transform: scale(var(--escala));
    transition: var(--transition);
    cursor: pointer;
}


/*Mi Foto*/
.mi-imagen {
    min-width: 250px;
    margin: 0 auto;
    width: 90%;
    max-width: 320px;
    height: 200px;
    max-height: 220px;
    background-image: linear-gradient(to top, rgba(95, 0, 139, 0.35), rgba(0, 0, 139, 0.35)), url(./Imágenes/Yo-fondo-negro.webp);
    background-position: bottom;
    aspect-ratio: auto;
    background-size: cover;
    border-radius: 20px;
   
}

#proyectos {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

/*Cartas Proyectos*/
.card {
    max-width: 450px;
    border-radius: 16px;
    border: 1.5px solid black;
    margin: 0 auto;
    &.imagen-card{
        width: 100%;
        height: 100%;
    }
    & .imagen-xeix {
        width: 100%;
        border-radius: 30px;
        object-fit: cover;
        padding: 10px 20px 20px 20px;
    }
    & h4.titulo {
        font-weight: 900;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    & .descripcion-carta{
        margin: 20px 20px 10px 20px;
    }
    & .descripcion-xeix {
        font-weight:400;
        font-size: 1.1rem;
    }
   

  

}

/*Tarjetas dirección*/
.direccion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.icon-tabler-brand-html5:hover,
.icon-tabler-brand-css3:hover,
.icon-tabler-brand-github:hover,
.icon-tabler-brand-tailwind:hover,
.icon-tabler-send:hover {
    transform: scale(var(--escala));
    transition: var(--transition);
}
.icon-tabler-brand-tailwind:hover{
    stroke: rgb(79, 185, 255);
}