* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --escala: 1.2;
    --transition: 0.5s;
    --stroke: blue;
}

body {
    max-width: 100%;
    padding: 10px;
}

html {
    scroll-behavior:smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    & .logo {
        width: 100px;
        height: 100px;
    }
    @media (width: 320px){
        .logo{
            width: 75px;
            height: 75px;
        }
    }

    & nav {
        display: flex;
        gap: 20px;
        height: 100px;
        justify-content: center;
        align-items: center;
    }

    & nav a {
        border: 2px solid black;
        padding: 10px 10px;
        border-radius: 40px;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    & nav a:hover {
        transition: 0.5s;
        background-color: rgb(200, 200, 200);
    }
}

.descripcion {
    padding: 0px 10px;

    &.descripcion h3 {
        font-weight: lighter;
        margin-bottom: 10px;
    }

    &.descripcion h1 {
        font-size: 1.3rem;
    }
}

h1 {
    white-space: nowrap;
    overflow: hidden;
    width: 25ch;
    animation: typing 2.5s steps(25) 1 forwards, blink .5s infinite step-end alternate;
    border-right: 3px solid blue;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.degradado {
    background: linear-gradient(rgb(72, 0, 105), rgb(0, 17, 255));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.descripcion-texto {
    padding: 10px 10px;

    &.descripcion-texto p {
        margin-top: 10px;
    }
}

/*Iconos Sociales*/

.contacto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.github-icon,
.linkedin-icon {
    width: 40px;
    height: 40px;
    transition: stroke 0.5s ease-out;
    stroke: black;
}

/*Iconos Sociales Hover*/

.github-icon:hover,
.linkedin-icon:hover,
.icon-tabler-download:hover,
.icon-tabler-mail:hover {
    stroke: var(--stroke);
    transform: scale(var(--escala));
    transition: var(--transition);
    cursor: pointer;
}


/*Mi Foto*/
.mi-imagen {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to top, rgba(95, 0, 139, 0.35), rgba(0, 0, 139, 0.35)), url(./Imágenes/Yo-fondo-negro.png);
    background-position: bottom;
    background-size: cover;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 3px 8px 10px rgba(1, 0, 82, 0.5), 3px 8px 10px rgba(95, 0, 139, 0.5);
    @media (width: 430px){
        margin: 0 auto;
    }
}

#proyectos {
    margin-top: 30px;
}

/*Cartas Proyectos*/
.card {
    width: 100%;
    height: 350px;
    border-image: linear-gradient(to right, rgba(95, 0, 139, 0.8), rgba(0, 0, 139, 0.8)) 1;
    border-radius: 16px;
    border: 2px solid black;
    margin-bottom: 20px;
    /*border: 3px solid #fafafa2f;*/

    & .imagen-xeix {
        width: 100%;
        border-radius: 14px 14px 7px 7px;
    }

    & .descripcion-carta {
        padding: 10px;
        height: 100px;
    }

    & h4.titulo {
        font-weight: bold;
        font-size: 1.5rem;
    }

    & .descripcion-xeix {
        font-weight: lighter;
        margin-top: 10px;
    }
    @media (min-width: 375px) and (max-width: 500px){
        height: 400px;
    }

}

/*Tarjetas dirección*/
.direccion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon-tabler-brand-html5:hover,
.icon-tabler-brand-css3:hover,
.icon-tabler-brand-github:hover,
.icon-tabler-brand-tailwind:hover,
.icon-tabler-send:hover {
    transform: scale(var(--escala));
    transition: var(--transition);
}
.icon-tabler-brand-tailwind:hover{
    stroke: rgb(79, 185, 255);
}